<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="<%= aindex === 1 ? 'active' : '' %>"><a href="/"><i class="fa fa-home"></i> <span>系统首页</span></a></li>
      <li class="<%= aindex === 2 ? 'active' : '' %>"><a href="/user"><i class="fa fa-user"></i> <span>用户管理</span></a></li>
      <li class="<%= aindex === 3 ? 'active' : '' %>"><a href="/product"><i class="fa fa-list"></i> <span>产品管理</span></a></li>
      <!-- <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li> -->
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>